version: '3.9'

services:
  frontend-superadmin:
    build: ./fe/SuperAdmin
    container_name: ainhotel-fe-superadmin
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always

  frontend-user:
    build: ./fe/User
    container_name: ainhotel-fe-user
    ports:
      - "5174:80"
    depends_on:
      - backend
    restart: always

  frontend-admin:
    build: ./fe/Admin
    container_name: ainhotel-fe-admin
    ports:
      - "5175:80"
    depends_on:
      - backend
    restart: always
