@import "tailwindcss";
.hide-password {
    -webkit-text-security: disc !important; /* Ẩn ký tự bằng chấm tròn */
    font-family: "text-security-disc"; /* fallback cho Firefox */
    text-security: disc;
  }
  
  .show-password {
    -webkit-text-security: none !important; /* Hiện chữ thật */
    text-security: none;
  }
  