<configuration>
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>

    <!-- Console JSON logger -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <level/>
                <threadName/>
                <loggerName/>
                <line/>
                <!-- Dùng arguments thay cho message -->
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <!-- File JSON logger -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/ainhotel/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/ainhotel/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <level/>
                <threadName/>
                <loggerName/>
                <line/>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
