@import "tailwindcss";
/* 🎨 Custom Scrollbar */
.custom-scroll::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f2f3;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #536db2;
  border-radius: 10px;
  border: 2px solid #f1f2f3;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #42578e;
}

body{
  font-family: 'Montserrat', sans-serif;
}
/* Style cho input bên trong react-datepicker giống input thường */
.recharts-wrapper,
.recharts-surface {
  outline: none !important;
}

.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none !important;
}