@import "tailwindcss";
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;               /* độ dày thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;  /* nền track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2A3A63; /* màu thanh cuộn */
  border-radius: 9999px;     /* bo tròn */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3B4A7A; /* hover sáng hơn */
}

/* Ẩn thanh cuộn trên Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2A3A63 transparent;
}
